###############################################################################
#                                    General                                  #
###############################################################################

DOMAIN=my.domain
ADMIN=myself
ADMIN_HTPASSWD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DATA_DIR=/data

###############################################################################
#                                    Mails                                    #
###############################################################################

MAIL_HOST=mail.gandi.net
MAIL_PASSWORD=XXXXXXXXXXXXXXXXXXXX
MAIL_PORT=587
MAIL_SERVICE=GandiMail
MAIL_TLS=true

###############################################################################
#                                    DBs                                      #
###############################################################################

POSTGRES_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MYSQL_ROOT_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
