NEXTCLOUD_ADMIN_USER=myself
NEXTCLOUD_ADMIN_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
POSTGRES_DB=postgres
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
POSTGRES_HOST=postgres
