APP_ENV=production
APP_DEBUG=false
APP_URL=http://status.my.domain
APP_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXX

DB_DRIVER=postgres
DB_HOST=postgres
DB_DATABASE=cachethq
DB_USERNAME=cachethq
DB_PASSWORD=XXXXXXXXXXXXXXXXXXXX
DB_PORT=5432

CACHE_DRIVER=apc
SESSION_DRIVER=apc
QUEUE_DRIVER=database
CACHET_EMOJI=true

MAIL_DRIVER=smtp
MAIL_HOST=mail.gandi.net
MAIL_PORT=587
MAIL_USERNAME=status
MAIL_PASSWORD=XXXXXXXXXXXXXXX
MAIL_ADDRESS=status@my.domain
MAIL_NAME="Status"
MAIL_ENCRYPTION=tls

REDIS_HOST=redis
REDIS_DATABASE=cachethq
REDIS_PORT=6379

GITHUB_TOKEN=null
