NEXTCLOUD_ADMIN_USER=myself
NEXTCLOUD_ADMIN_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

POSTGRES_HOST=postgres
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

MAIL_HOST=mail.gandi.net
MAIL_PASSWORD=XXXXXXXXXXXXXXXXXXXX
MAIL_PORT=587
MAIL_SERVICE=GandiMail
MAIL_TLS=true
